// Define font paths
$font-path: '/src/assets/font/';

// Import Eurofurence font
@font-face {
  font-family: 'eurofurence';
  src: url('#{$font-path}eurofurence/eurof35.ttf');
}

// Import Lato Bold font
@font-face {
  font-family: 'lato bold';
  src: url('#{$font-path}lato-bold/Lato-Bold.ttf');
}

// Import Lato Regular font
@font-face {
  font-family: 'lato regular';
  src: url('#{$font-path}lato-regular/Lato-Regular.ttf');
}
